mat-icon{
  vertical-align: middle;
  color: #3207f1;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px; // Garante que o card tenha altura enquanto carrega
}

.form-container {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 16px 0;
    }

    .full-width {
      width: 100%;
    }
