.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 0;
}

.full-width {
  width: 100%;
}

mat-form-field {
  &:has(textarea) {
    ::ng-deep {
      .mat-mdc-text-field-wrapper {
        padding-bottom: 0.5rem;
      }
    }
  }
}
