.form-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-width: 400px;
  max-width: 800px;
  padding: 10px 0;
}

.full-width { width: 100%; }

@media (max-width: 600px) {
  .form-container {
    min-width: 0;
    width: 100%;
  }
}
