.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 32px;
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;

  @media (max-width: 959px) {
    padding: 20px;
    gap: 20px;
  }

  @media (max-width: 599px) {
    padding: 16px;
    gap: 16px;
  }
}
