mat-icon{
  vertical-align: middle;
  color: var(--mat-primary);
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px; // Garante que o card tenha altura enquanto carrega
}
